*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    /* background-image: url("../img/bg-img-1.jpg");
    background-size: cover; */
}
.login-container{
    position: relative;
    min-width: 50%;
    height: 100vh;
    background-color: #FEFAE0;
}
.nav-login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 1rem 3.25rem;

}
.logo-name{
    width: 30%;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav-item{
    padding-left: 1.5rem;
    font-size: 1.25rem;
}
.login-form{
    width: 100%;
    padding: 1.5rem 3.25rem;
}
.login-head{
    font-size: 1.5rem;
    margin-bottom: 5vh;
}
.input-fields{
    display: grid;
    grid-template-rows: (1, 1fr);
}
.input-label{
    font-size: 1.5rem;
    margin-bottom: 1vh;
}
.user-input{
    width: 100%;
    height: 6vh;
    margin-bottom: 2vh;
    border-radius: 0.5rem;
    border: 3px solid #DDA15E;
    outline: none;
    font-size: 1.5rem;
}
.user-input:hover{
    border: 3px solid #bc6c25;
    transition: 0.5s;
}
.login-btn:hover{
    background-color: #FEFAE0;
    color: #283618;
    transition: 0.5s;
}
.validate{
    font-size: 1rem;
    color: red;
    line-height: 30px;
}
.forgot-pass{
    text-align: right;
    margin-bottom: 2vh;
    font-weight: bolder;
}
.goto-create{
    font-weight: bolder;
}
.login-btn{
    width: 100%;
    height: 7vh;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #283618;
    font-family: 'Paytone One', sans-serif;
    outline: none;
    color: #FEFAE0;
    letter-spacing: 2px;
}
.create-acc{
    text-align: center;
    margin: 1vh 0;
    font-size: 1.2rem;
}
.social-links{
    width: 90%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2.5vh 2.5vw;
    background-color: #BC6625;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    color: #FEFAE0;
    font-size: 2.5rem;
    margin: 0 2vw;
}
.vert-line{
    min-width: 7vw;
}

.image-container{
    width: 50%;
    height: 100vh;
    position: relative;
}
.bg-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom right;
}
.team-name{
    font-family: 'Cutive Mono', monospace;
    position: absolute;
    color: #FEFAE0;
    font-size: 1.5rem;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

.logo-name, .login-head{
    font-family: 'Paytone One', sans-serif;
    color: #2F363D;
}

.nav-item, .input-fields, .forgot-pass, .create-acc, .goto-create{
    font-family: 'Cutive Mono', monospace;
    color: #2F363D;
}